



.left{
     height:100px;
    width:300px;
    display:inline;
    float:left;
}
.middle{
     height:100px;
    width:300px;
    display:inline;
    float:none;
}
.right{
     height:100px;
    width:300px;
    display:inline;
    float:right;
}


h3{
    width:100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    align-self: center;
    vertical-align:text-top;
    
}

td{
    height:300px;
    width:300px;
    color: white;
    text-shadow: 2px 2px gray;
    font-size:24px;
    text-align:center;
    opacity: .7;
    
}

html{
    height=100%;
    background-image: url("http://p1.pichost.me/640/39/1624273.jpg");
    background-size: 100%;
}

body{
    height: 100%;
    background: linear-gradient(rgba(200,200,200, .5) 50%, rgba(200,200,200,0));
}

/*
h1{
    z-index: 2;
    text-align: center;
    color:black;
    font-family:Franklin Gothic;
    font-size: 50px;
    opacity:1;
}
*/

img{
   
    height: 300px;
    width: auto;
    align-self: center;
    display:inline;
    border-radius:150px;
    border-color: black;
    border-width: 100px;
    opacity: 1;
   
        
}





