html{
    z-index: 1;
    background-image: url("http://p1.pichost.me/640/39/1624273.jpg");
    background-size: 200%;
}

div{
    border:2px solid #FFFFFF;
    border-radius: 10px;
    background-color: #454545;
    text-align: center;
}

#header{
    height:50px;
    width: 98%;
    margin: auto;
    position:fixed;
    
}

h2{
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
    font-family: inherit;
    color:#AAABBB;
    font-size: 50px;
}


#container{
    width: 700px;
    height: 300px;
    margin:auto;
    border-style:hidden;
    background-color: transparent;
}
li{
    margin: 0px 15px 15px 15px;
    list-style-type: none;
    display: inline;
    align-content: center;
    font-family: inherit;
    padding: 100px 10px 5px 10px;
    background-color: gray;
    text-align: center;
}
#home{
    background-color: transparent;
    font-size: 20px;
    font-color: white;
}
#menu{
    background-color: transparent;
    border: 0;
    margin: auto;
}

/* unvisited link */
a:link {
    color: #cdcdcd;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #cdcdcd;
    text-decoration: none;
}

.left{
    display: inline;
    float:left;
    height: 300px;
    width: 300px;
    margin: 15px;
    background-color: #b22400;
    background-image: url("drums.jpg");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: center;

}

.right{
    display: inline;
    float:right;
    height: 300px;
    width: 300px;
    margin:15px;
    background-color: #b22400;
    background-image: url("cropped.jpg");
    background-size: 200px 250px;
    background-repeat: no-repeat;
    background-position: center;
}

a:hover{
    background-color: #454545;
}

#footer{
    clear: both;
    height:50px;
}